{% extends "base/base.html" %}

{% block title %}Mis Habilidades{% endblock %}
<!--Debo dividir las habilidades en Frontend - Backend- y Bases de datos-->

{%block columna8 %}
<div class ="contenedor-neon-int">
  <div class = "title-neon" >
    <h2>¿Cuales son mis habilidades?</h2>
    <p class="mb-4"></p>
    <p class = "p-neon">
      <center>
      <h3><u>Habilidades personales</u></h3></center>
      <br>
      <ul>
        <li><h4>Creatividad</h4>
          <p>He recibido una beca a la edad de 9 años de la empresa Pilay.SA (2001) por "creatividad y buena predisposición al aprendizaje" y siempre me consideré una persona muy creativa, innovadora y de mente muy abierta a nuevas ideas o procesos de automatización de tareas mecánicas.
          </p>
          </li>
        <li><h4>Resolver problemas:</h4>
        <p>Desde corta edad fui premiado por mi creatividad y predisposición a resolver problemas de formas muy creativas.
          Un correcto balance entre eficacia y eficiencia son mis prioridades a la hora de resolver conflictos.
        </p>
        </li>
        <br>
        <li>
          <h4>Aprendizaje autodidacta:</h4>
        <p>Me apasiona aprender por mi mismo y lo hago con notable rapidez, pero más que aprender; me encanta enseñar.
        </p>
        </li>
        <br>
        <li>
          <h4>Compartir ideas y conocimiento:</h4>
        <p>Me encanta intercambiar ideas y compartir mis conocimientos con otras personas afines. Es por ello que siempre me encuentro redactando para los lectores de mi blog personal, colegas de redes sociales y aprendices del lenguaje a través de diversos medios.
        </p>
        </li>
        <br>
        <li>
          <h4>Iniciativa y curiosidad</h4>
        <p>Tengo una terrible curiosidad por aprender y mejorar en todo aspecto que esté a mi alcance, soy una persona bastante inquieta. Por lo que a veces me aburro rápido si alguna actividad se vuelve demasiado mecánica o no presenta un desafío que me motive a superarme.</p>
        <p>Por otro lado tengo mucha iniciativa cuando se trata de proyectos innovadores que involucran algún cambio social o desarrollo colectivo.
        </p>
        </li>
      </ul>
    </p>
    <br>

  </div>
  
  </div>

  <div class ="contenedor-neon-int">
    <div class = "title-neon" >
      <h2>¿Cuales son mis skill's?</h2>
      <p class="mb-4"></p>
      <p class = "p-neon">
        <center>
        <h3>Habilidades técnicas (Programación)</h3></center>
        <br>
        <ul>
          <li><h4>Desarrollador Python</h4>
            <p>Programo en Python y he realizado numerosos proyectos basados en este lenguaje de programación utilizando diversas librerías y Frameworks:
            </p>
            <ul><h5><u>Librerías con las que he trabajado:</u></h5>
              <li>Pygal</li>
              <li>Pyglet</li>
              <li>PyQt5</li>
              <li>MatPlotlib</li>
              <li>Numpy</li>
              <li>Pillow</li>
              <li>MySqlAlchemy</li>
              <li>Flash</li>
              <li>Entre Otras..</li>
            </ul>
            <br>
            <ul><h5><u>Frameworks con los que he trabajado:</u></h5>
              <li>Flask + Bootstrap</li>
              <li>Django + Bootstrap</li>
              <li>Web2Py</li>
              <li>Otros..</li>
            </ul>
            </li>
            <br>
            <li><h4>PHP, Java, Javascript</h4>
              <p>Aunque mi lenguaje favorito de desarrollo es Python, también he programado algunas aplicaciones sencillas en PHP y Java. Tengo la capacidad de trabajar en estos lenguajes sin ningún problema, debido a mi velocidad de aprendizaje me siento capaz de abarcarlos también dentro de mis Skill's a desarrollar a futuro.</p>
              <p>Soy capaz de comprender, editar y traducir código en PHP, Java y Javascript sin mayor dificultad</p>
              </li>
          <li><h4>Lenguajes de estilos y FrontEnd:</h4>
          <p>He realizado numerosos sitios web's y he editado muchas plantillas a lo largo de años. Aunque el diseño no es fuerte de mi interés normalmente me gusta trabajarlo lo suficiente para lograr un buena primera impresión.</p>
          <p>Trabajo con HTML + CSS + JS sin ninguna clase de problema.</p>
          </li>
          <br>
          <li><h4>Bases de datos (SQL + NoSQL):</h4>
            <p>He trabajado en diversas aplicaciones en las que aprendí a crear sistemas CRUD. He aprendido a trabajar con bases de datos relacionales (MySQL), a crear modelos relacionales y trabajado también con bases de datos no relacionales como JSON.</p>
            <p>En mi blog me he tomado el trabajo de hablar mucho acerca de las Bases de datos y cual modelo elegir para determinado proyecto.</p>
            </li></ul>
            <br>
            <br>
            <ul><h3>Otras habilidades técnicas (Gestión y Administración)</h3>
              <br>
            <li><h4>Aplicaciones de escritorio Multiplataforma</h4>
              <p>He desarrollado aplicaciones de escritorio multiplataforma (Windows y Linux) utilizando la librería PyQt5.
              </li>
          <li>
            <h4>CMS:</h4>
          <p>He sido mucho tiempo Webmaster y apasionado de Wordpress (CMS de creación de contenido) y de SMF (CMS de foros y comunidades).</p>
            <p>He tenido a mi cargo diversos sitios bajo estas tecnologías, aprendiendo a lo largo de los años a automatizar procesos y copias de seguridad, mejorar aspectos de velocidades de carga, consumo de ancho de banda y sobre todo he trabajado mucho respecto de factores técnicos que afectan al SEO, SPAM y vulnerabilidades.
          </p>
          </li>
          <br>
          <li>
            <h4>SEO (Posicionamiento Web)</h4>
          <p>He aprendido a lo largo de los años a trabajar el SEO para lograr posicionar mi blog en los primeros 5 lugares para diversas palabras claves alcanzando numerosas visitas.</p>
          <p>Me logro destacar en el SEO gracias a la organización del contenido y diversos conocimientos técnicos. Se manejar Google Search Console y desde muy breve edad he sido un Webmaster frustado por alcanzar el mayor número de visitas.</p>
          <p>Soy un muy buen desarrollador de contenido de calidad para lectores de mi edad y afines a la programación y/o cultura informática como bien se puede comprobar en mi Blog y perfil de Quora, entre otros.</p>
          </li>
          <br>
          <li>
            <h4>Hacking y seguridad informática</h4>
          <p>Aunque no me dedico al Bug Bounty ni a la ciberseguridad de manera activa tengo numerosos conocimientos y experiencias con el Hacking Ético y el desarrollo o utilización de Malware. A la corta edad de 13 años desarrolle numerosas aplicaciones en Visual Basic que compartí en diversos foros y comunidades afines a la ciberseguridad.
          </p>
          <p>Sin duda la seguridad informática es un área que siempre me encuentro cultivando y a menudo logra ganar mi enfoque por largos periodos de tiempo donde intento mantenerme al tanto de nuevas vulnerabilidades y técnicas de desarrollo de herramientas para tales fines. </p>
          </li>
        </ul>
      </p>
      <br>
  
    </div>
    
    </div>

{%endblock %}


  {% block columna4 %}
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class ="contenedor-neon-int">
          <img class = "img-habilidad" src="{{ url_for('static', filename='images/logo-python.png') }}" />
        <div class = "title-hab" >
        <h3>Python</h3>
        <p class = "p-neon">Lenguaje de programación</p>
        <br>
        <p class="mb-4"></p>
        <p class = "p-neon" align = "center">Python es mi lenguaje de programación preferido a la hora de resolver problemas y comenzar proyectos de mediana envergadura.</p>
        <br>
        <div align = "center">
        <a href="#" class ="button-proyect"><button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          VER
        </button></a>
        </div></div>
        
        </div>
      </div>
      <div class="col-sm">
        <div class ="contenedor-neon-int">
          <img class = "img-habilidad" src="{{ url_for('static', filename='images/flask-logo.png') }}" />
        <div class = "title-hab" >
        <h3>Flask</h3>
        <p class = "p-neon">Framework Desarrollo web</p>
        <br>
        <p class="mb-4"></p>
        <p class = "p-neon" align = "center">Desde que comencé a aprender FLASK me he enamorado de este Framework y la relación velocidad - facilidad con la que puedo desarrollar una aplicación web.</p>
        <br>
        <div align = "center">
        <a href="#" class ="button-proyect"><button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          VER
        </button></a>
        </div></div>
        
        </div>
      </div>
      <div class="col-sm">
        <div class ="contenedor-neon-int">
          <img class = "img-habilidad" src="{{ url_for('static', filename='images/mysql.jpeg') }}" />
        <div class = "title-hab" >
        <h3>Mysql</h3>
        <p class = "p-neon">Bases de datos relacionales </p>
        <br>
        <p class="mb-4"></p>
        <p class = "p-neon" align = "center">He aprendido mucho sobre el modelo relacional de bases de datos y las ventajas que presentan en determinadas ocasiones.</p>
        <br>
        <div align = "center">
        <a href="#" class ="button-proyect"><button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          VER
        </button></a>
        </div></div>
        
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-sm">
        <div class ="contenedor-neon-int">
          <img class = "img-habilidad" src="{{ url_for('static', filename='images/json-logo.png') }}" />
        <div class = "title-hab" >
        <h3>JSON</h3>
        <p class = "p-neon">Bases de datos no relacionales </p>
        <br>
        <p class="mb-4"></p>
        <p class = "p-neon" align = "center">Pero se muy bien que no siempre es necesaria una base de datos relacional y por ello he aprendido a utilizar bases de datos no relacionales como JSON así como tambien el desarrollo de sistemas CRUD para las mismas.</p>
        <br>
        <div align = "center">
        <a href="#" class ="button-proyect"><button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          VER
        </button></a>
        </div></div>
        
        </div>
        
      </div>
      <div class="col-sm">
        <div class ="contenedor-neon-int">
          <img class = "img-habilidad" src="{{ url_for('static', filename='images/html-logo.png') }}" />
        <div class = "title-hab" >
        <h3>HTML</h3>
        <p class = "p-neon">Lenguaje de etiquetado</p>
        <br>
        <p class="mb-4"></p>
        <p class = "p-neon" align = "center">He aprendido a utilizar HTML desde niño con mucho entusiasmo para desarrollar sitios web y he realizado diversos estudios respecto a la organización de los sitios webs y su implicación en el SEO</p>
        <br>
        <div align = "center">
        <a href="#" class ="button-proyect"><button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          VER
        </button></a>
        </div></div>
        
        </div>
      </div>
      <div class="col-sm">
        <div class ="contenedor-neon-int">
          <img class = "img-habilidad" src="{{ url_for('static', filename='images/css-logo.png') }}" />
        <div class = "title-hab" >
        <h3>CSS</h3>
        <p class = "p-neon">Lenguaje estilos frontend </p>
        <br>
        <p class="mb-4"></p>
        <p class = "p-neon" align = "center">Ultimamente he estado incrementando mis conocimientos y habilidades respecto del lenguaje de estilos CSS para dar un mejor acabado a mis aplicaciones tanto web's como de escritorio en aquellas librerías que hacen uso de este lenguaje.</p>
        <br>
        <div align = "center">
        <a href="#" class ="button-proyect"><button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          VER
        </button></a>
        </div></div>
        
        </div>
      </div>
      
    </div>
  </div>
  

  {% endblock %}





